
.container{
    width:30%;
    margin: 10% auto auto;
    background-color: #ffffff7d;
    padding: 20px;
    min-height: 300px;
    border:#bdbaba7e 1px solid;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.container h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    background-color: #f2f0f0;
    padding: 10px;
    flex: 100%;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.form-group{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

label{
    width: 100px;
    font-size: 16px;
    vertical-align: middle;
    padding: 5px;
}
input,select{
    width: 100%;
    padding: 5px;
    border: #a4a3a3 1px solid;
    border-radius: 2px;
    background: #ffffff7d;
}

input,select:focus{
    border-color: rgba(21, 86, 176, 0.694);
}